@import url("https://cdnjs.webstatic.cn/ajax/libs/picocss/2.0.6/pico.blue.min.css");
@import url("https://cdnjs.webstatic.cn/ajax/libs/font-awesome/6.7.2/css/all.min.css");
@font-face {
  font-family: "Minecraft Seven v2";
  src: local("Minecraft Seven v2"), url("https://lapis-net.top/res/MinecraftSevenv2-Regular.woff2") format("woff2");
}
@font-face {
  font-family: unifont;
  src: local("unifont"), url("https://lapis-net.top/res/unifont-15.1.05.woff2") format("woff2");
}
:root {
  --Minecraft-fonts: "Minecraft Seven v2", unifont;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.app-enter-from {
  transform: scale(0.8);
  opacity: 0;
}

.app-enter-to {
  transform: scale(1);
  opacity: 1;
}

.app-enter-active {
  transition: all 0.3s ease;
}

.loading {
  display: inline-flex;
  align-items: center;
}
.loading::before {
  content: "";
  display: block;
  width: 64px;
  height: 64px;
  margin: 0 auto;
  background-image: url("https://lapis-net.top/favicon.ico");
  background-size: cover;
  background-position: center 80%;
  background-repeat: no-repeat;
  animation: spin 1s linear infinite;
}

.title {
  color: #5A82E2;
  display: inline-flex;
  align-items: center;
  font-size: 145%;
  -webkit-user-select: none;
  user-select: none;
}
.title:hover::before {
  transform: rotate(360deg);
}
.title::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 0.1em;
  margin-right: 0.2em;
  background-image: url("https://lapis-net.top/favicon.ico");
  background-size: cover;
  background-position: center 80%;
  background-repeat: no-repeat;
  transition: transform 0.5s ease-in-out;
}

.content {
  margin-left: 1.2em;
}

.card {
  padding: 1.2em;
  margin: 0.4em;
  width: 90%;
  background-color: rgba(0, 191, 255, 0.4784313725);
  border-radius: 0.8em;
  -webkit-user-select: none;
  user-select: none;
  transition: transform 0.3s ease-in-out;
}
.card:hover {
  transform: matrix(1.05, 0, 0, 1.05, 0, 0);
}
.card .avatar {
  width: 20%;
  border-radius: 50%;
}
.card .name {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.1em;
}

#nav {
  padding: 0.4em 1em 0.8em;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  background: linear-gradient(to right, rgba(90, 131, 226, 0.3568627451), rgba(59, 88, 152, 0.3568627451));
}

#main {
  height: 100%;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(90, 131, 226, 0.3411764706);
  -webkit-user-select: none;
  user-select: none;
}
